<app-header active='home'></app-header>


<!-- CARROSSEL -->

<form>

  <input type="radio" name="fancy" autofocus value="clubs" id="clubs" />
  <input type="radio" name="fancy" value="hearts" id="hearts" />
  <input type="radio" name="fancy" value="spades" id="spades" />
  <input type="radio" name="fancy" value="diamonds" id="diamonds" />			
  <label for="clubs"></label><label for="hearts"></label><label for="spades"></label><label for="diamonds"></label>
</form>


<!-- CARDES -->


<div class="cards">
  <div class="circle">
    <img class="img-circle" src="../../../assets/img/pacote.jpg" alt="">
    <h2 class="titlecard">Nossos produtos</h2>
    <p class="txtcard">Ciente de que a competitividade está vinculada à competência, a General Goods conta com produtos
      de qualidade e aplicativos diversificados que associam design, funcionalidade e garantia de satisfação.</p>
    <button class="buttoncard">Veja mais >></button>
  </div>
  <div class="circle">
    <img class="img-circle" src="../../../assets/img/factory.svg" alt="">
    <h2 class="titlecard">Sobre nós</h2>
    <p class="txtcard">Criada em 1993, a General Goods é uma empresa focada em atender a demanda das empresas por
      produto de qualidade, voltados para o auxílio na logística e transporte.</p> <br>
    <button class="buttoncard">Veja mais >></button>
  </div>
  <div class="circle">
    <img class="img-circle" src="../../../assets/img/support.svg" alt="">
    <h2 class="titlecard">Fale conosco</h2>
    <p class="txtcard">Entre em contato conosco pelo nosso formulário, email ou telefone e tire suas dúvidas ou faça
      seu orçamento.</p> <br> <br> <br>
    <button class="buttoncard">Veja mais >></button>
  </div>
</div>
<app-footer active='footer'></app-footer>