<app-header active='home'></app-header>

<section class="container-toall">


<!-- CARROSSEL -->

<ngx-slick-carousel class="carousel" 
#slickModal="slick-carousel" 
[config]="slideConfig" 
(init)="slickInit($event)"
(breakpoint)="breakpoint($event)"
(afterChange)="afterChange($event)"
(beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let slide of slides" class="slide">
<!-- Item Carrossel -->
<div class="textOne" *ngIf="slide.textOne">
  <h2>{{lang.txtcarousel1}}</h2>
  <h1>{{lang.txtcarousel2}}</h1>
  <h2>{{lang.txtcarousel3}}</h2>
  <h1>{{lang.txtcarousel4}}</h1>
  <h2>{{lang.txtcarousel5}}</h2>
  <h1>{{lang.txtcarousel6}}</h1>
  <h2>{{lang.txtcarousel7}}</h2> <br>
  <h4>{{lang.txtcarousel8}}</h4>
</div>
<div class="textTwo" *ngIf="slide.textTwo">
  <h1>{{lang.slogan1}}</h1>
  <br>
  <h1>{{lang.slogan2}}</h1>
  <h1>{{lang.slogan3}}</h1>
  <h1>{{lang.slogan4}}</h1>
</div>
<img src="{{ slide.img }}" alt="" width="100%">
</div>
</ngx-slick-carousel>

<!-- CARDES -->


<div class="cards">
  <div class="circle">
    <img class="img-circle" src="../../../assets/img/pacote.jpg" alt="">
    <h2 class="titlecard">{{ lang.titlecard }}</h2>
    <p class="txtcard">{{ lang.txtcard }}</p>
    <button routerLink='/produtos' class="buttoncard">{{ lang.buttoncard }}</button>
  </div>
  <div class="circle">
    <img class="img-circle" src="../../../assets/img/factory.svg" alt="">
    <h2 class="titlecard">{{ lang.titlecard2 }}</h2>
    <p class="txtcard">{{ lang.txtcard2 }}</p> <br>
    <button routerLink='/quem-somos' class="buttoncard">{{ lang.buttoncard }}</button>
  </div>
  <div class="circle">
    <img class="img-circle" src="../../../assets/img/support.svg" alt="">
    <h2 class="titlecard">{{ lang.titlecard3 }}</h2>
    <p class="txtcard">{{ lang.txtcard3 }}</p> <br> <br> <br>
    <button routerLink='/contato' class="buttoncard">{{ lang.buttoncard }}</button>
  </div>
</div>

</section>
<app-footer active='footer'></app-footer>
