@import '../../../styles.scss';

@font-face {
  font-family: comfortaa;
  src: url(../../../assets/font/COMFORTAA.LIGHT.TTF);
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 7%;
  margin-top: 5%;
}

.circle {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 320px;
}

.img-circle {
  border-radius: 50%;
  border: 1px solid;
  width: 153px;
  margin-bottom: 15px;
}

.titlecard {
  margin-bottom: 15px;
  font-family: comfortaa;
}

.txtcard {
  text-align: center;
  margin-bottom: 15px;
  font-family: sans-serif;
}

.buttoncard {
  background: transparent;
  border: #5368c5 1px solid;
  padding: 10px 10px;
  border-radius: 5px;
}

.buttoncard:hover {
  background-color: #5368c5;
  color: #fff;
}

.textOne, .textTwo {
  position: absolute;
  font-family: comfortaa;
  display: flex;
  flex-direction: column;
}

.textOne {
  text-align: end;
  width: 100vw;
  top: 20%;
  margin-left: -2%;
}

.textOne h1 {
  color: #083e21;
}

.textOne h2 {
  color: #000;
}

.textTwo {
  color: #fff;
  top: 33%;
  margin-left: 2%;
  font-size: 20px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.53);
}

.mobile{
  display: none;
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: flow-root;
  }
  .textOne {
    font-size: 17px;
    margin-left: -1%;
  }
}