<footer class="footer1">
  <section class="sct-footer">
    <div class="link-footer">
      <ul class="ul-footer">
        <li>
          <a class="footerlink-a" href="#" id="linkhome">
            <img src="../../../assets/img/angle-right.svg" alt="" height="20px" width="20px"> HOME</a>
        </li>
        <li>

          <a class="footerlink-a" routerLink="*" id="linkprodutos">
            <img src="../../../assets/img/angle-right.svg" alt="" height="20px" width="20px"> PRODUTOS</a>
        </li>
        <li>
          <a class="footerlink-a" routerLink="*" id="linkqmsomos">
            <img src="../../../assets/img/angle-right.svg" alt="" height="20px" width="20px"> QUEM SOMOS</a>
        </li>
        <li>
          <a class="footerlink-a" routerLink="*" id="linkcontato">
            <img src="../../../assets/img/angle-right.svg" alt="" height="20px" width="20px"> CONTATO</a>
        </li>
      </ul>
    </div>
    <div class="logo-footer">
      <a routerLink=''>
        <img src="../../../assets/img/logo.png" alt="" height="110px" width="175px">
      </a>
    </div>
    <div class="info-footer1">
      <div class="info-footer2">
        <!--- <h5>Entre em Contato</h5> -->
        <p class="pfooter">
          <img class="icon-info" src="../../../assets/img/map-marker-alt.svg" alt="" height="22px" width="20px">R.
          Dalcídio Jurandir, 255 - Sala 309 - Barra da Tijuca, RJ</p>
        <p class="pfooter">
          <img class="icon-info" src="../../../assets/img/envelope-square.svg" alt="" height="22px" width="22px">generalgoods@general&shy;goods.com</p>
        <p class="pfooter number1">
          <img class="icon-info" src="../../../assets/img/phone-square.svg" alt="" height="22px" width="22px">(21)
          2281-1319</p>
      </div>
    </div>
  </section>
</footer>
<footer class="developby">
  <div class="div-developby">
    <div class="div-developby2">
      <!-- <p class="tt-developby">Develop By:</p> -->
      <a target="_blank" href="http://www.estartandodevs.com.br">
        <img class="logo-devs" src="../../../assets/img/fonte branca.png" alt="" height="45px" width="100px">
      </a>
    </div>
  </div>
</footer>
