<header>
  <div class="container-logo" routerLink=''>
    <img class="logo" src="../../../assets/img/logo.png" alt="general-goods">
    <img class="logo-name" src="../../../assets/img/logo3.png">
  </div>

  <div class="container-link">
    <ul class="desktop">
      <li routerLink=''>HOME</li>
      <li routerLink='/produtos'>PRODUTOS</li>
      <li routerLink='/quem-somos'>QUEM SOMOS</li>
      <li routerLink='/contato'>CONTATO</li>
    </ul>
    <div class="mobile span-toggle">
      <section class="icon-container">
        <div class="side-icon"></div>
        <div class="side-icon"></div>
        <div class="side-icon"></div>
      </section>
    </div>
  </div>
</header>
