@import '../../../styles.scss';
@import '../../../theme/colors.scss';

@font-face {
  font-family: comfortaa;
  src: url(../../../assets/font/COMFORTAA.LIGHT.TTF);
}

*:focus {
  outline: none;
}

.active {
  background-color: #2b2089;
  color: #fff !important;
}

@media(min-width:769px) {
  header {
    height: 78px;

    .buy-container {
      position: fixed;
      top: 78px;
      right: 5px;
      width: 93px;
      background-color: #a9160e;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 0px;
      border-collapse: collapse;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      color: $primary-color;

      img{
        height: auto;
        cursor: pointer;
      }

      .buy-icon{
        width: 35px;
      }
      
      .user-icon{
        width: 30px;
        margin-left: 5px;
      }

      .divisor{
        padding: 0px 6px;
        font-size: 30px;
      }

    }
  }
}

header {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px -1px;
  background-color: #f8f9fa;
  width: 100%¨;
  font-family: comfortaa;


  .container-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .container-logo {
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    .logo {
      margin-right: 5px;
      width: 125px;
      height: 78px;
    }

    .logo-name {
      width: 220px;
      height: 78px;
    }
  }

  .container-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      height: 100%;

      li {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0px 20px;
        font-weight: 600;
        color: #16104d;

        &:hover {
          color: #fff;
        }

        // &:nth-child(3) {
        //   width: 120px;
        // }
      }
    }

    .span-toggle {
      cursor: pointer;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: .25rem;
      margin-right: 10px;

      .icon-container {
        padding: 10px 15px;
        border: 1px rgba(0, 0, 0, .1) solid;
        border-radius: .25rem;

        .side-icon {
          width: 23px;
          height: 2px;
          border-radius: 5px;
          background-color: rgb(117, 117, 117);

          &:nth-child(2) {
            margin: 6px 0px;
          }
        }
      }
    }
  }

  .nav-mobile {
    height: 0;
    transition: 0.4s;
    z-index: 5;

    ul {
      width: 100%;

      li {
        padding: 20px;
        cursor: pointer;
        transition: 0.2s;
        display: none;
        opacity: 0;
      }

      .showLi {
        animation: animationLiShow 0.6s ease-in-out;
        display: block;
        opacity: 1;
      }
    }
  }

  li {
    text-transform: uppercase;
  }

  li:hover {
    transition-duration: 0.6s;
    background-color: #2b2089;
    color: #fff;
  }

  .showMenu {
    height: 248px;
  }

  @keyframes animationLiShow {
    0% {
      display: none;
      opacity: 0;
    }

    100% {
      display: block;
      opacity: 1;
    }
  }

}

@media(max-width:768px) {
  header {
    grid-template-columns: 80%;

    .container-logo {
      padding-left: 0;

      .logo {
        width: 100px;
        height: 65px;
      }

      .logo-name {
        width: 127px;
        height: 60px;
      }

    }

    // .container-link{
    //   display: none;
    // }
    .buy-container {
      display: none;
    }
  }
}
