<header>
  <section class="container-header">
    <div class="container-logo" routerLink=''>
      <img class="logo" src="../../../assets/img/logo.png" alt="general-goods">
      <img class="logo-name" src="../../../assets/img/logo3.png">
    </div>

    <div class="container-link">
      <ul class="desktop">
        <li routerLink='' [ngClass]="{'active': homeActive}">{{lang.homeTitle}}</li>
        <li routerLink='/quem-somos' [ngClass]="{'active': companyActive}">{{lang.companyTitle}}</li>
        <li routerLink='/contato' [ngClass]="{'active': contactActive}">{{lang.contactTitle}}</li>
        <li routerLink='/produtos' [ngClass]="{'active': productActive}">{{lang.productsTitle}}</li>
      </ul>
      <div class="mobile span-toggle" (click)="toogleSideMenu()">
        <section class="icon-container">
          <div class="side-icon"></div>
          <div class="side-icon"></div>
          <div class="side-icon"></div>
        </section>
      </div>
    </div>
  </section>

  <nav class="nav-mobile" [ngClass]="{'showMenu': toogleMenu}">
      <ul class="menu-list">
          <li class="menu-item" routerLink='' [ngClass]="{'showLi': toogleMenu, 'active': homeActive}"> {{lang.homeTitle}}</li>
          <li class="menuItem" routerLink='/quem-somos' [ngClass]="{'active': companyActive, 'showLi': toogleMenu}">{{lang.companyTitle}}</li>
          <li class="menuItem" routerLink='/contato' [ngClass]="{'active': contactActive, 'showLi': toogleMenu}">{{lang.contactTitle}}</li>
          <li class="menuItem" routerLink='/produtos' [ngClass]="{'active': productActive, 'showLi': toogleMenu}">{{lang.productsTitle}}</li>
          <li class="menuItem" routerLink='/login' [ngClass]="{'active': loginActive, 'showLi': toogleMenu}">{{lang.loginTitle}}</li>
      </ul>
  </nav>

  <div class="buy-container">
    <img routerLink='/carrinho' class="buy-icon" src="../../../assets/img/buy.png" alt="">
    <div class="divisor">|</div>
    <img routerLink='/login' class="user-icon" src="../../../assets/img/user.png" alt="">
  </div>
</header>
