<div class="menu">
  <p class="title">{{ lang.Painel }} <br> {{ lang.adm }}</p>
  <div class="line"></div>
  <p class="link" routerLink="/admin">Produtos</p>
  <p class="link" routerLink="/admin/add-product">Adicionar</p>
  <!-- <p class="Sub-title">Produtos</p> -->
  <div class="body">
      <img src="../../../assets/img/logo.png" alt="..." class="rounded-left mb-3 b-1-solid-primary" style="width:200px;">
      <ul class="nav ">
          <li class="nav-item">
              <a class="nav-link " href="#">Produtos</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Usuarios</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Pedidos</a>
          </li>
      </ul>

  </div>
</div>