//AQUI FICARÃO AS VARIAVEIS E ETC...
$font-white: #fff;
$primary-color: #15114d;
$secondary-color: #da251c;
$tertiary-color: #fbe600;

// COLORS BOOTSTRAP
$theme-colors: (
 "white": #fff,
 "background": #fbfbfb,
 "primary": #15114d,
 "secondary": #da251c,
 "tertiary": #fbe600,
 "black": #333,
);
