<h1 mat-dialog-title>Customizaveis</h1>
<div class="bar-title"></div>
<div mat-dialog-content>
  <p>Digite os itens customizaveis do produto.</p>
    <div *ngFor="let item of data; let i = index" class="items-content flex-center space-between">
      <p class="item-txt">{{item}}</p>
      <div>
        <button class="btn btn-danger btn-sm flex-center" (click)="deleteItem(i)"><img src="../../../assets/img/trash-icon.png" alt=""></button>

      </div>
    </div>
    <div class="flex-center mt-3">
      <input class="form-control w-100" [(ngModel)]="textInput">
      <button class=" btn-additem btn btn-success btn-sm" (click)="addItem();"><img src="../../../assets/img/add-icon.png" alt=""></button>
    </div>
    <small class="form-text text-muted">Escreva um novo customizavel.</small>
</div>
<div mat-dialog-actions>
  <button class="btn btn-danger" mat-button (click)="onNoClick()">Cancelar</button>
  <button class="btn btn-success" mat-button [mat-dialog-close]="data" cdkFocusInitial>Salvar</button>
</div>
