.body {
  display: flex;
  height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #023769;
  width: 25%;
  height: 100vh;
}

.line {
  height: 2px;
  background-color: white;
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 23px;
  color: white;
  text-align: center;
}

.Sub-title {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 25px;
  color: white;
}

.container-list {
  display: flex;
  width: 75%;
  flex-direction: column;
}

.button {
  display: flex;
  width: 25%;
  height: 140px;
  justify-content: flex-end;
  align-items: flex-end;
}

.btao {
  width: 130px;
  height: 45px;
  font-size: 20px;
  text-align: center;
  background-color: #26a706;
  border: none;
  border-radius: 20px;
  color: white;
}

.btao:focus {
  outline: none;
}

.btao:hover {
  border-radius: 0px;
  transition: 2s;
}

.container {
  display: flex;
    width: 400px;
    height: 115px;
    margin: 30px;
    border: solid 1px;
    box-shadow: grey 1px 1px 2px 1px;
    align-items: center;
}

.Product-One {
  display: flex;
}

.title-p {
  font-size: 23px;
  padding-top: 10px;
  padding-left: 15px;
}

#caixatermica {
  padding-left: 10px;
}
