@import '../../../styles.scss';

.body {
  display: flex;
  height: 100vh;
  overflow: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #023769;
  width: 25%;
  height: 100vh;
}

.line {
  height: 2px;
  background-color: white;
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 23px;
  color: white;
  text-align: center;
}

.Sub-title {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 25px;
  color: white;
}

.container-list {
  display: flex;
  width: 75%;
  flex-direction: column;
  padding-bottom: 50px;
}

.button {
  display: flex;
  width: 25%;
  height: 140px;
  justify-content: flex-end;
  align-items: flex-end;
}

.btao {
  cursor: pointer;
  width: 130px;
  height: 45px;
  font-size: 20px;
  text-align: center;
  background-color: #26a706;
  border: none;
  border-radius: 20px;
  color: white;
}

.btao:focus {
  outline: none;
}

.btao:hover {
  border-radius: 0px;
  transition: 2s;
}

.container {
  display: flex;
  width: 400px;
  height: 300px;
  padding: 20px;
  margin: 5px 0px 5px 50px;
  border: solid 1px;
  box-shadow: grey 1px 1px 2px 1px;
  align-items: center;
}

.Product-One {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.title-p {
  font-size: 23px;
  padding-top: 10px;
  padding-left: 15px;
}

#caixatermica {
  padding-left: 10px;
  padding-right: 10px;
}

.barra {
  width: 1px;
  background-color: black;
  height: 100px;
}

.edit, .remove{
  display: flex;
    width: 30px;
    height: 30px; 
}

.edit{
  padding-bottom: 10px;
}

.remove{
  display: flex;
    width: 30px;
    height: 30px;
}

.icones{
  display: flex;
    flex-direction: column;
    padding-left: 50px;

    img{
      cursor: pointer;
    }
}