<app-header active="admin"></app-header>
<section class="container-toall">

  <section class="body">

    <!-- <input type="checkbox" id="bt_menu">
    <label for="bt_menu">&#9776;</label> -->

    <div class="menu">
      <p class="title">
        {{ lang.Painel }} <br> {{ lang.adm }}
      </p>
      <div class="line"></div>
      <p class="Sub-title">
        {{ lang.Produtos }}
      </p>
    </div>

    <div class="container-list">
      <div class="button form">
        <form action="">
          <input type="text" placeholder="Nome" #name>
          <!-- <input type="text" placeholder="nome" #name> -->
          <button class="btao" (click)="add({name: name.value})">{{ lang.add }}</button>
        </form>
      </div>
      <div class="container" *ngFor="let product of produtos | async">
        <div class="Product-One">
          <img class="img-produto" src="{{product.img}}" alt="caixatermica.png" width="100px"
            height="100px">
          <div class="barra"></div>
          <p class="title-p">{{product.name}}</p>
          <div class="icones">
            <img class="edit" src="./../../../assets/img/edit-document.png" alt="">
            <img class="remove" src="./../../../assets/img/remove.png" alt="remove.png">
          </div>

        </div>

      </div>
    </div>
  </section>

</section>

<app-footer></app-footer>
