<app-header active="admin"></app-header>
<section class="body">
  <div class="menu">
    <p class="title">
      Painel De <br> Administração
    </p>
    <div class="line"></div>
    <p class="Sub-title">
      Produtos
    </p>

  </div>
  <div class="container-list">
    <div class="button">
      <button class="btao">Adicionar</button>
    </div>
    <div class="container">
      <div class="Poduct-One">
        <img src="./../../../assets/img/caixatermica.png" alt="caixatermica.png" width="100px" height="100px">
      </div>

    </div>
  </div>
</section>
<app-footer></app-footer>
