<app-header></app-header>


<section class="container-toall">

  <section class="container">

    <div class="carrinho">


      <img src="./../../../assets/img/shopping-cart.png" alt="shopping-cart.png" width="35px" height="35px">
      <h1 class="title">Meu Carrinho</h1>


    </div>

    <div class="BrenoVaiMeXingar">

      <div class="table">

        <div id="titulos">

          <tr>
            <th>Produto</th>
            <th>Qtd.</th>
            <th>Remover</th>
          </tr>

        </div>

        <div class="tabelaProduto">

          <tr>
            <td><img class="imagem" src="./../../../assets/img/caixatermica.png" alt="caixatermica.png" width="70px"
                height="70px">
            </td>
            <td>
              <P class="NomeProduto">caixatermica</P>
            </td>

            <td><select name="" id="seletor">
                <option value="1" label="1"> 1 </option>
                <option value="2" label="2"> 2 </option>
                <option value="3" label="3"> 3 </option>
                <option value="4" label="4"> 4 </option>
                <option value="5" label="5"> 5 </option>
                <option value="6" label="+ de 6"> + de 6 </option>
              </select></td>
            <td>
              <a href="###"> <img src="./../../../assets/img/clear-button.png" alt="clear-button.png"></a>
            </td>
          </tr>

        </div>

      </div>
    </div>
  </section>
