@import '../../../theme/colors-two.scss';

@font-face {
  font-family: comfortaa;
  src: url(../../../assets/font/COMFORTAA.LIGHT.TTF);
}

.container {
  display: flex;
  flex-direction: column;
  font-family: comfortaa;
}

.carrinho {
  display: flex;
  padding: 35px;
  background-color: $primary-color;
}

.title {
  display: flex;
  color: white;
  font-size: 30px;
  padding-left: 15px;
}

.DivContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.table {
  display: flex;
  flex-direction: column;
  width: auto; //800px
  border: solid $primary-color;
}

#titulos {
  display: flex;
  border-bottom: solid $primary-color;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
}

th {
  font-size: 20px
}

tr {
  width: auto; //100%
  display: flex;
  min-width: 760px; //800px
  justify-content: space-evenly;

  th:nth-child(1) {
    flex: 3;
  }

  th:nth-child(2) {
    flex: 1;
  }

  th:nth-child(3) {
    flex: 1;
  }

  th:nth-child(4) {
    flex: 1;
  }
}

.tabelaProduto {
  padding-top: 25px;
  border-bottom: solid $primary-color 3px;
  padding-bottom: 13px;
}

.imagem {
  border: solid $primary-color 2px;
  padding: 5px;
}

.NomeProduto {
  font-size: 25px;
  padding-left: 20px;
}

#seletor {
  padding: 15px;
    border-radius: 10px;
    border-color: #15114d;
    margin-right: 115px;
}

#seletor:focus {
  outline: none;
}

.trProduto {
  display: flex;
  flex-direction: column;

  td:nth-child(1) {
    flex: 1;
    padding-left: 75px;
  }

  td:nth-child(2) {
    flex: 4;
  }

  td:nth-child(3) {
    flex: 2;
  }

  td:nth-child(4) {
    flex: 1;
  }
}

.DivProduto {
  display: flex;
  padding-top: 10px;
  padding-bottom: 15px;
}

.DivContainer2 {
  display: flex;
  align-items: center;
  width: 50%;
}

.DivContainer3 {
  display: flex;
    align-items: center;
    width: 50%;
    padding-left: 100px;
}
.container-toall{
  padding-top: 65px;
}

.delete-product{
  cursor: pointer;
}

// MOBILE

@media(max-width:700px) {
  .container {
    display: flex;
    padding-top: 60px;
    flex-direction: column;
  }

  .shopCart,
  th,
  #titulos {
    display: none;
  }

  .table {
    display: flex;
    flex-direction: column;
    border: solid #15114d 1.5px;
    margin: 5px;
    height: auto;
    width: auto; //320px
  }

  .tabelaProduto {
    padding-top: 10px;
    border-bottom: none;
    padding-bottom: 0px;
  }

  .trProduto {
    display: flex;
    flex-direction: column;

    td:nth-child(1) {
      flex: 0;
      padding-left: 0px;
    }

    td:nth-child(2) {
      flex: 0;
    }

    td:nth-child(3) {
      flex: 0;
    }

    td:nth-child(4) {
      flex: 0;
    }
  }

  tr {
    width: 100%;
    display: flex;
    min-width: 245px;
    align-items: normal;
    justify-content: normal;
  }

  .DivContainer2 {
    display: flex;
    font-size: 24px;
    padding-left: 5px;
    align-items: center;
    padding-top: 5px;
  }

  .DivContainer3 {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 10px;
    justify-content: space-around;
    padding-bottom: 15px;
    width: 100%;
  }

  .NomeProduto {
    font-size: 25px;
    padding-left: 20px;
    width: 147px;
  }

  #seletor {
    width: 83px;
    height: 30px;
    border-radius: 10px;
    border: solid #15114d 1px;
    background-color: #15114d;
    color: white;
    padding: 2px;
    font-size: 20px;
    margin: 0px;
  }

  .DivProduto {
    flex-direction: column;
    padding-top: 0px;
    padding-right: 5px;
  }
  .container-toall{
    padding-top: 0px;
  }
}



