@import '../../../theme/colors-two.scss';
@import '../../../styles.scss';

@font-face {
    font-family: comfortaa;
    src: url(../../../assets/font/COMFORTAA.LIGHT.TTF);
}

@font-face {
    font-family: tt0;
    src: url(../../../assets/font/TT0288M_.TTF);
}

.container-produtos {

  .div-ttl {
    padding: 15px 0px 40px 0px;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;

    .ttl-pag {
      font-family: 'Open Sans';
      font-family: menu;
      width: 100%;
      height: 120px;
      font-size: 53px;
      margin-bottom: 0;
      display: -webkit-flex;
      display: -webkit-box;
      display: -moz-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primary-color;
      color: #fff;
      box-shadow: #000 0px 0px 14px -2px;
      /*border-bottom: 1px solid #000;*/
    }
  }

  h2 {
    font-family: titlep;
    color: $secondary-color;
    text-shadow: black 1.1px 1.1px 1px;
  }

  h5 {
    font-family: titlep;
    font-size: 25.2px;
  }

  .ttl-pdt {
    width: 40%;
    padding: 15px 0px;
    border-radius: 10px;
    margin-left: -10px;
    background-color: $primary-color;
    box-shadow: #000 0px 0px 14px -2px;

    .h2-ttl {
      padding-left: 15%;
      color: #fff;
      font-family: menu;
      padding-top: 11px;
      text-transform: uppercase;
    }
  }

  .produto {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 90px 0px;
    border-top: 4px double $primary-color;
    margin-top: -25px;
    margin-bottom: -53px;

    img {
      padding: 5px;
      border: 4px double $primary-color;
      box-shadow: #000 0px 0px 14px -2px;
    }

    .cx1 {
      padding-right: 55px;
    }

    .cx2 {
      width: 60%;
      padding-left: 60px;
      display: -webkit-flex;
      display: -webkit-box;
      display: -moz-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;

      h4 {
        font-family: COMFORTAA;
        padding-bottom: 10px;
        margin-top: 15px;
      }

      .p-produtos {
        font-family: COMFORTAA;
        font-size: 22px;
      }

      li {
        font-size: 22px;
        font-family: COMFORTAA;
      }
    }
  }

  #cx-termica {
    padding: 35px;
  }

  #isopor,
  #caixanucleo {
    padding: 21px;

  }

  #gelo {
    padding: 0px 77px;
  }
}
          .btn-carrinho{
            width:141px;
            background-color:$secondary-color;
            border: none;
            color:$font-white;
            padding: 5px;
            border-radius: 4px;
          }


// unfortunely(or not) I never'll can undestand this stuffs...
// h2 {
  //   font-family: menu;
//   font-size: 27px;
// }
// h4 {
//   font-family: titlep;
//   font-size: 27px;
// }
@media screen and (max-width:1024px){
  #isopor,
  #caixanucleo{
    width: 260px;
    height: 260px;
  }
}
  @media screen and (max-width:768px) {
    .container-produtos {
      .div-ttl {
        .ttl-pag {
          font-size: 30px !important;
          height: 90px;
        }
      }
      
      .ttl-pdt {
        width: 88%;
        padding: 16px 0px;
        margin-left: -20px;
        
        .h2-ttl {
          padding-left: 14%;
          color: #fff;
          padding-bottom: 0px;
          padding-top: 10px;
        }
      }
      
      .produto {
        flex-direction: column !important;
        align-items: center;
        
        .cx1 {
          padding-right: 0;
        }
        
        .cx2 {
          // width: 100%;
          width: 70%;
          padding: 33px;
          
        }
      }
      
      h2 {
        font-family: menu;
        font-size: 28px;
      }
      .btn-carrinho{
        align-self: center; 
      }

    }
  }
  
  @media (max-width:480px) {
    .container-produtos {
      .div-ttl {
        .ttl-pag {
          font-size: 30px !important;
          height: 90px;
          margin-top: 70px;
        }
      }

      .ttl-pdt {
        .h2-ttl {
          font-size: 22px;
        }
      }

      .produto {
        padding: 70px 0px 44px 0px;

        .cx2 {
          h4 {
            font-size: 15px;
          }

          h2 {
            font-size: 20px;
            text-shadow: black 0px 0.4px;
          }

          li {
            font-size: 16px;
            margin-bottom: 10px;
          }

          h5 {
            font-size: 20px;
          }

          .p-produtos {
            font-size: 17px;
          }
        }
      }

    }
  }
  @media (max-width:375px) {
    #isopor,
  #caixanucleo{
    width: 255px;
    height: 238px;
  }
  }