/* You can add global styles to this file, and also import other style files */
@import 'theme/fonts.scss';

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

//RESPONSIVE CLASSES

.mobile{
    display: none;
}

@media(max-width:768px){
    .desktop{
        display: none!important;
    }
    .mobile{
        display: flex;
    }
}