/* You can add global styles to this file, and also import other style files */
@import 'theme/fonts.scss';
@import 'theme/colors.scss';
@import './theme/extends.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap/scss/bootstrap";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';


*{
    margin: 0;
    padding: 0;
    //TEMPORARY FONT
    // font-family: 'Open Sans';
    font-weight: 500!important;
}

a{
    text-decoration: none;
}

body{
    &::-webkit-scrollbar {
    background-color: #f5eeee;
    width: 4px;
    height: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 10px;
  }
}

.flex-center {
  @extend %flex-center;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-end {
  align-items: flex-end;
}

.w100 {
  width: 100%;
}

.container-title{
  flex-direction: column;

  .bar-title {
    height: 3px;
    width: 30%;
    max-width: 100px;
    background-color: $primary-color;
  }
}

//RESPONSIVE CLASSES

.mobile{
    display: none;
}

@media(max-width:768px){
    .desktop{
        display: none!important;
    }
    .mobile{
        display: flex;
    }
}

@media(min-width:768px) {
  .container-toall {
    padding-top: 78px;
  }
}
