/* You can add global styles to this file, and also import other style files */
@import 'theme/fonts.scss';
@import 'theme/colors.scss';

*{
    margin: 0;
    padding: 0;
    //TEMPORARY FONT
    // font-family: 'Open Sans';
    font-weight: 500!important;
}

a{
    text-decoration: none;
}

body{
    &::-webkit-scrollbar {
    background-color: #f5eeee;
    width: 4px;
    height: 0px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 10px;
  }
}

//RESPONSIVE CLASSES

.mobile{
    display: none;
}

@media(max-width:768px){
    .desktop{
        display: none!important;
    }
    .mobile{
        display: flex;
    }
}

@media(min-width:768px) {
  .container-toall {
    padding-top: 78px;
  }
}