
@import '../../../../styles.scss';

@font-face {
  font-family: comfortaa;
  src: url(../../../../assets/font/COMFORTAA.LIGHT.TTF);
}

.container {
  display: flex;
  // justify-content: center;
  // align-items: center;
  height: 100%;
  // width: 100vw;
  overflow: auto;
  font-family: comfortaa;
  padding-top: 75px;
}

form {
  display: flex;
  // position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // max-width: 500px;
  // width: 100vw;
  // height: 100vh;

    .input-product {
      padding: 5px;
      margin: 10px;
    }
  
    .btao {
      cursor: pointer;
      width: 130px;
      height: 45px;
      font-size: 19px;
      text-align: center;
      background-color: #26a706;
      border: none;
      border-radius: 20px;
      color: white;
    }
  
  }