<app-header></app-header>

<main class="container">

  <!-- <app-admin-menu></app-admin-menu> -->
  <nav>
    <h2 class="painel-tittle">Painel Admin</h2>
    <ul>
      <li routerLink="/admin">Produtos (Editar e Remover)</li>
      <li class="activeAdmin" routerLink="/admin/add-product">Cadastrar Produtos</li>
    </ul>
  </nav>

  <h1 class="title-admin">Cadastre um novo produto</h1>

  <form action="">
    <div class="inputs-container\">
      <input class="input-product" type="text" placeholder="Nome" #name>
      <input class="input-product" type="text" placeholder="Descriçao" #description>
      <input class="input-product" type="text" placeholder="Features" #features>
      <input class="input-product" type="text" placeholder="Tamanhos" #sizes>
      <input class="input-product" type="text" placeholder="Extras" #extras>
      <input class="input-product" type="text" placeholder="Customizaveis" #customizes>
      <input class="input-product" type="text" placeholder="Tem Nucleo?" #nucleoOption>
    </div>
    <!-- <input type="text" placeholder="nome" #name> -->
    <!-- <div class="button-container"> -->
      <button class="btao" (click)="add({name: name.value,
         key: generateKey(),
         descriptions: description.value,
         features: features.value,
         sizes: sizes.value,
         extras: extras.value,
         customizes: customizes.value,
         nucleoOption: nucleoOption.value
        })">{{lang.add }}</button>
      <!-- </div> -->
    <!-- <button class="btao" (click)="update({product, name: name.value})">{{ lang.add }}</button> -->
  </form>

</main>