<app-header active="quem-somos"></app-header>

<section class="container-toall">

<section id="qmsomosexc">
    <section id="qmsomos">
        <div id="tituloBack">
            <h1 class="titulo">{{lang.title}}</h1>
        </div>
        <div id="qlqrcoisa">
            <div id="txtqmsomos">
                <h2 class="subtitulo">{{lang.subTitle}}</h2>
                <p class="p1">{{lang.text1}}</p>
                <br>
                <p class="p2"> {{lang.text2}}</p>
            </div>
            <div id="pessoasLampada-content">
                <div id="pessoasLampada">
                    <img id="lampada" class="icone1" src="../assets/img/idea.svg">
                    <img id="pessoas" class="icone1" src="../assets/img/employee.svg">
                </div>
            </div>
        </div>
    </section>
    <section id="qmsomos">
        <div id="qlqrcoisa2">
            <div id="txtqmsomos2">
                <h2 class="subtitulo2">{{lang.subTitle2}}</h2>
            </div>
            <div id="listas">
                <div id="lista1">
                    <ul>
                        <li>{{lang.parcerias1}}</li>
                        <li>{{lang.parcerias2}}</li>
                        <li>{{lang.parcerias3}}</li>
                    </ul>
                </div>
                <div id="lista2">
                    <ul>
                        <li>{{lang.parcerias4}}</li>
                        <li>{{lang.parcerias5}}</li>
                        <li>{{lang.parcerias6}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="clients">
        <div class="div-clients">
            <img src="../assets/img/logo-cmb-4.png" alt="" width="250px" height="70px">
            <img src="../assets/img/logo-bio-manguinhos.png" alt="" width="230px" height="80px">
            <img src="../assets/img/logo-fiocruz.png" alt="" width="160px" height="120px">
            <img src="../assets/img/farmanguinhos-logo.png" alt="" width="250px" height="100px">
        </div>
    </section>
</section>

</section>
<app-footer active='footer'></app-footer>